{% load i18n %}

<div class="receipt" id="receipt-{{ receipt.id }}"
     {% if is_updated %}
     	data-isUpdated="1"
     {% endif %}

>
    <div class="menu">
        <div class="del">
            <div class="del-btn" onclick="toggleConfirm(this)">{% trans "receipt.menu.deletion" %}</div>
            <div
                class="del-btn confirm"
                style="display: none;"
                hx-post="{% url 'delete_receipt' receipt_id=receipt.id %}"
                hx-trigger="click"
                hx-swap="none"
                hx-on="htmx:afterOnLoad: removeReceipt(this)"
            >{% trans "receipt.menu.confirm_deletion" %}</div>
        </div>
    </div>

    {% if receipt.photo %}
        <div class="photo">
              <img src="{{ receipt.photo.url }}" alt="Receipt Photo" loading="lazy">
        </div>
    {% endif %}

    <form method="post" hx-post="{% url 'index' %}" hx-target="#receipt-{{ receipt.id }}" hx-swap="outerHTML">
        {% csrf_token %}
        {{ receipt.formset.management_form }}
        <div class="products-list">
            {% for form in receipt.formset %}
                {% include 'main/receipt/product_form.html' with product_form=form %}
            {% endfor %}
        </div>
        <div class="product">
            <div class="column">
                <div class="name">{% trans "receipt.product-list.total" %} ({{ receipt.currency.code }})</div>
            </div>
            <div class="column price total" style="position:sticky; bottom: 0;"><span></span></div>
        </div>

        <button
            type="submit"
            data-savedText="{% trans "receipt.updated_btn_text" %}"
            data-defaultText="{% trans "receipt.save_btn_text" %}"
        >{% trans "receipt.save_btn_text" %}</button>
    </form>
</div>