{% load i18n %}
<div class="statistic">
    {% for data in statistic %}
    	<div class="date">{{ data.date }}</div>


            {% for category_data in data.categories %}
                <ul>
                    <div class="name">{{ category_data.name }}</div>
                    {% for currency in category_data.value %}
                        <li>{{ currency.name }}: {{ currency.value|floatformat:2 }}</li>
                    {% endfor %}
                </ul>


            {% endfor %}


        <ul>
            <div class="name">{% trans "statistic.total" %}:</div>
            {% for currency in data.total %}
                <li>{{ currency.name }}: {{ currency.value|floatformat:2 }}</li>
            {% endfor %}
        </ul>


    {% endfor %}

</div>