:root {
    --tg-color-scheme: light;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-section-bg-color: #ffffff;
    --tg-theme-secondary-bg-color: #f0f0f0;
    --tg-theme-text-color: #222222;
    --tg-theme-hint-color: #a8a8a8;
    --tg-theme-link-color: #2678b6;
    --tg-theme-button-color: #50a8eb;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-header-bg-color: #527da3;
    --tg-theme-accent-text-color: #1c93e3;
    --tg-theme-section-header-text-color: #3a95d5;
    --tg-theme-subtitle-text-color: #82868a;
    --tg-theme-destructive-text-color: #cc2929;
    --tg-theme-section-separator-color: #d9d9d9;
}

* {
    font-family: Inter;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-secondary-bg-color);
}
main {
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 0 10px;
}
.disabled-legend-item {
    color: red !important;
  }
header {
    padding: 20px;
    font-size: 19px;
    background-color: var(--tg-theme-section-bg-color);
    color: var(--tg-theme-text-color);
    font-weight: 600;
    margin-bottom: 20px;

    & .body {
        width: 100%;
        height: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .caption {
            text-transform: uppercase;
            display: flex;
            align-items: center;

            & img {

                display: flex;
                align-items: center;
                width: 32px;
                height: 100%;
            }
        }

        & .settings {
            display: flex;
            align-items: center;

            & img {
                display: flex;
                align-items: center;
                width: 28px;
                height: 100%;
            }

            &.rotate {
                & img {
                    animation-name: rotate;
                    animation-duration: 1s;
                }
            }

        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.receipt {
    --background-color: var(--tg-theme-bg-color);
    width: 100%;
    max-width: 500px;
    margin: 20px 0px;
    padding: 10px 0;
    border-radius: 20px;
    color: var(--tg-theme-text-color);
    background-color: var(--background-color);

    & .menu {
        width: 90%;
        margin: 0 auto 10px auto;
        display: flex;
        flex-direction:row;
        justify-content: end;
        background-color: var(--background-color);
        padding: 5px 0;
        text-transform: uppercase;

        & .del {
            color: var(--tg-theme-destructive-text-color);
        }
    }
    & .photo {
        width: 91%;
        margin: 0 auto;
        max-height: 30svh;
        overflow-y: scroll;
        border-radius: 2px;
        background-color: var(--background-color);

        &::-webkit-scrollbar {
            width: 0;
        }
        & img {
            max-width: 100%;
            border-radius: 2px;
            background-color: var(--background-color);
        }
    }
    & .products-list {
        max-height: 52svh;
        overflow-y: scroll;
    }
    & .product {
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px var(--tg-theme-hint-color) solid;
        display: flex;
        background-color: var(--background-color);
        padding-bottom: 10px;

        &:last-of-type {
            border-bottom: none;
        }

        & .column {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & input {
                background-color: var(--background-color);
                width: 100%;
                border: none;
                outline: none;
                font-size: 16px;
                color: var(--tg-theme-text-color);
            }
            & .price {
                & input {
                    text-align: right;
                }
            }
            & select {
                padding: 2px;
                outline: none;
                width: 100%;
                border: none;
                appearance: none;
                background-color: transparent;
                color: var(--tg-theme-text-color);
            }

            &.price {
                background-color: var(--background-color);
                width: 30%;
                & input {
                    text-align: right;
                }

                &.total {
                    text-align: right;
                }
            }
        }

    }

    &
    button[type='submit'] {
        display: none;
        width: 90%;
        margin: 0 5% 10px 5%;
        height: 30px;
        border: 1px var(--color-orange) solid;
        border-radius: 0 0 10px 10px;
        border-top: none;
        background-color: var(--color-orange-lite);

        &.btn-updated {
            animation-name: backgroundColorChange;
            animation-duration: 3s;
        }
    }
}
#statistic-chart {
    width: 100%;
    height: min(100vh, 700px);
    background-color: var(--tg-theme-bg-color);
    padding: 25px 0;
    border-radius: 20px;

    & tspan {
        color: red !important;
    }

    &:empty {
        display: none;
    }
}
.anychart-credits {
    display: none;
}

@keyframes backgroundColorChange {
  0% {
      color: white;
      background-color: green;
      border-color: green;
  }
  99% {
      color: white;
      background-color: green;
      border-color: green;
  }
  100% {
      color: initial;
      background-color: initial;
  }
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: var(--tg-theme-text-color);

    &::before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0.3em);
        z-index: -1;
    }
    & h2 {
        margin-top: 5px;
    }
    & .modal-content {
        z-index: 1001;
        margin: 20px 10px;
        padding: 20px;
        border: 1px solid var(--tg-theme-hint-color);
        border-radius: 20px;
        background-color: var(--tg-theme-bg-color);
    }

    .close-modal {
        color: var(--tg-theme-accent-text-color);
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}



.language {
    display: flex;
    flex-direction: row;
    height: 25px;

    & img {
       height: 100%;
        margin-left: 10px;
    }
    & select {
        height: 100%;
        padding: 2px 10px;
        border-radius: 10px;
        color: var(--tg-theme-text-color);
        background-color: var(--tg-theme-hint-color);
    }

}



.receipts {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .list {
    }

    & .empty {
        display: none;
        text-align: center;
        padding: 0px 20px 20px 20px;
        border: 1px solid var(--tg-theme-hint-color);
        border-radius: 6px;
        color: var(--tg-theme-text-color);
        background-color: var(--tg-theme-secondary-bg-color);
    }

    &:has(.list:empty) .empty {
        display: block;
    }
}


