* {
  font-family: Inter;
  --color-orange: #ff680a;
  --color-orange-lite: rgb(255 134 55 / 10%);

}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding: 0 10px 0 0;
    background: var(--color-orange-lite);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    & .caption {
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px 7px 3px 17px;
        color: #fff3eb;
        background-color: var(--color-orange);
        border-radius: 0 10px 10px 0;
        position: absolute;
        top: 12px;
        left: 0;
    }

    & .language {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-height: 100%;

        & img {
            height: 35px;
        }

        & select {
            background-color: transparent;
            border: none;
            text-align: right;
            outline: 0;
        }
    }
}
.receipt {
    width: 100%;
    max-width: 500px;

    & .photo {
        width: 91%;
        margin: 20px auto 0 auto;
        max-height: 30svh;
        overflow-y: scroll;
        border-radius: 2px;

        background-color: white;

        &::-webkit-scrollbar {
            width: 0;
        }
        & img {
            max-width: 100%;
            border-radius: 2px;
        }
    }
    & .products-list {
        height: 52svh;
        overflow-y: scroll;
    }
    & .product {
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px var(--color-orange) solid;
        display: flex;

        & .column {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 16px;
            }
            & .price {
                & input {
                    text-align: right;
                }
            }
            & select {
                padding: 2px;
                outline: none;
                width: 100%;
                border: none;
                appearance: none;
                background-color: transparent;
            }

            &.price {
                width: 30%;
                & input {
                    text-align: right;
                }

                &.total {
                    text-align: right;
                }
            }
        }

    }

    & button[type='submit'] {
        width: 90%;
        margin: 0 5% 10px 5%;
        height: 30px;
        border: 1px var(--color-orange) solid;
        border-radius: 0 0 10px 10px;
        border-top: none;
        background-color: var(--color-orange-lite);
    }
}
