{% load i18n %}
<div class="receipt">
    <div class="photo">
         <img src="/media/bot/887832606_AgACAgIAAxkBAAIFNGaat1zcICXKjDSwpL55YSRDo2QPAAID5TEb3bDYSKPJ8QhS5pd7AQADAgADeQADNQQ.jpg" alt="">
    </div>

    <form method="post" class="receipt">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="product">
                {{ form.id }}
                <div class="column">
                    <div class="name">{{ form.name }}{% if form.instance.original_name|lower != form.instance.name|lower %}({{ form.instance.original_name }}){% endif %}  </div>
                    {{ form.category }}
                </div>
                <div class="column price">
                    {{ form.price }}
                </div>
            </div>
        {% endfor %}

        <button type="submit">{% trans "Save" %}</button>
    </form>
</div>