{% load i18n %}

<div class="receipt">
    <div class="photo">
         <img src="/media/bot/887832606_AgACAgIAAxkBAAIFNGaat1zcICXKjDSwpL55YSRDo2QPAAID5TEb3bDYSKPJ8QhS5pd7AQADAgADeQADNQQ.jpg" alt="">
    </div>

    <form method="post" class="receipt">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            {% include 'main/receipt/product_form.html' with product_form=form %}
        {% endfor %}

        <button type="submit">{% trans "Save" %}</button>
    </form>
</div>