{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block main %}

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>

    {% for product in products %}
        <ul class="product">
           <li>{% trans "Name" %}: {{ product.name }}</li>
           <li>{% trans "Price" %}: {{ product.price }}</li>
           <li>{% trans "Category" %}: {{ product.category.name }}</li>
        </ul>
    {% endfor %}
{% endblock %}